body{
    background-image: url(./photo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
}

h1 
    { 
        text-align: center;
        font-family: Georgia;
        background-color: rgba(0, 100, 0, 0.7);
        color: white;
        padding: 30px 0px;
        margin: 0px;
        width: 100%;
        scroll-padding: 80px;
    }

#menu 
    {   text-align: left;
        text-transform: capitalize;
    }

.menus {
        color: white;
        text-decoration: none;
}




#authBox{
        margin: 50px auto;
        background-color: transparent;
        height: 300px;
        width: 300px;
        text-align: center;
        border: 2px solid white;
        box-shadow: 0px 0px 75px 45px inset rgba(0, 218, 0, 0.432);
        border-radius: 10px;
    }

#adminHeading{
    text-decoration: underline;
    margin-bottom: 65px;
}

#loginEmail {
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
}

#loginPassword {
    width: 200px;
    height: 40px;
    }

#loginSubmit{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}